* {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  position: fixed;
  background: rgb(38, 107, 172);
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  position: fixed;
  left: 0;
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
}
.logo {
  margin-top: 10px;
  font-size: 30px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover {
  background: rgb(12, 94, 172);
  color: #ffff;
  transition: all 0.5s;
}
.active {
  background: rgb(12, 94, 172);
  color: #000;
}
.icon,
.link_text {
  font-size: 20px;
}

.hover-effect:hover {
  background-color: lightblue;
  cursor: pointer;
}
